/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}

table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}

hr {
    background-color: blue;
    border-color: blue;
}

#duck{
    width: 128px;
    height: 128px;
    background-image: url(../img/duck.png);
    background-size: 128px;
    position: absolute;
    top: 50%;
    left: 0%;
}
.flag {
    width: 180px;
    height: 120px;
    opacity: 0;
    overflow: hidden;
    border: 1px solid #efefef;
}

.sweden{
    background: linear-gradient(to right, transparent 30%, #FECC00 30%, #FECC00 45%, transparent 0),
     linear-gradient(to bottom, transparent 38%, #FECC00 38%, #FECC00 59%, transparent 0), #006AA7;
}

.denmark{
    background: linear-gradient(to bottom, transparent 40%, white 40%, white 55%, transparent 55%, transparent 100%),
     linear-gradient(to right, transparent 30%, white 30%, white 40%, transparent 40%, transparent 100%), #C60C30; 
}

.france {
          background: linear-gradient(to right, #002395 calc(100% / 3), white calc(100% / 3), white calc(100% / 3 * 2), #ED2939 calc(100% / 3 * 2)); 
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }