/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}

table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}

hr {
    background-color: blue;
    border-color: blue;
    }

#duck{
    width: 128px;
    height: 128px;
    background-image: url(../img/duck.png);
    background-size: 128px;
    position: absolute;
    top: 50%;
    left: 0%;
}